{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 error text-center">{{error}}</div>
	</div>

	{% set i = 0 %}
	{% for p in posts: %}
		<div class="row bnav">
			<div class="col-xs-4 post-title col-xs-offset-1"><a href="/blog/{{p.key().id()}}">{{ p.title}}</a></div>
			<div class="col-xs-1 post-likes text-left">({{p.likes}})</div>
			<div class="col-xs-1 text-center">
			<form method="post" id="form{{i}}">
			<input type="hidden" name="blogID" value="{{p.key().id()}}">
			{% if likeButton[i] == True %}
					<button type="submit" form="form{{i}}" name="postReq" value="1" class="likeButton">+1</button>
					<button type="submit" form="form{{i}}" name="postReq" value="2" class="likeButton">-1</button>
			{% endif %}
			</div>
			<div class="col-xs-4">
				<div class="row">
					<div class="col-xs-12 post-created text-right">Created: {{ p.created}}</div>
				</div>
				<div class="row">
					<div class="col-xs-12 post-author text-right">By: {{ p.author}}</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-10 post-body col-xs-offset-1">
				<hr>
				{{p.body}}
			</div>
		</div>

		{% for c in p.comment_list: %}
			{% set currComment = comments.pop(0) %}
			<div class="row">
				<div class="col-xs-3 com-det text-left col-xs-offset-6">
					<div class="row">
						<div class="col-xs-12 text-left">
							{{currComment.created}}
						</div>
					</div>
					<div class="col-xs-12 text-left">
						{{currComment.author}} commented:
					</div>
				</div>
				<div class="col-xs-2 text-right com-det">
					{% if currComment.author == username: %}
						<a class="com-editLink" href="/blog/comment/{{currComment.key().id()}}">Edit</a>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-5 com-body col-xs-offset-6 text-left">
					{{currComment.body}}
				</div>
			</div>
		{% endfor %}

		<div class="row">
			<div class="col-xs-4 col-xs-offset-6">
				<textarea name="com-entry" class="com-entry"></textarea>
			</div>
			<div class="col-xs-1 text-left">
				<button type="submit" form="form{{i}}" name="postReq" value="3" class="comPost">Post Comment</button>
			</div>
		</div>

		</form>
		{% set i = i + 1 %}
	{% endfor %}

{% endblock %}